#navLogo
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin: 30px;
    margin-left: 138px;
    padding-right: 100px;

}

@media screen and (max-width:450px)
{
    .Sig
    {
        margin-left: 80px;
    }
}