#FormPrincipal
{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 10%;
    margin-right: 10%;
}

.box1
{
    width: 500px;
    height: 40px;
}

#enviar
{
    width: 160px;
    height: 50px;
    background-color: #0498D9;
    color: white;
    border: none;
    border-radius: 5px;
}

#Agree
{
    width: 100px;
    height: 30px;
    background-color: #0498D9;
    color: white;
    border: none;
    border-radius: 5px;
}

#dialogLanding
{
    background-color: #184861;
    color: white;

}


@media screen and (max-width:450px)
{
    .box1
    {
        width: 300px;
        height: 40px;
    }

    #BoxDialog
    {
        width: 400px;
        margin-right: 10%;
    }
}