@media screen and (min-width:600px)
{
    .xde
    {
        font-family: 'Milliard Medium';
        text-align: center;
        font-size: 2vw;

        margin-left: 5%;
    }
 
    #segundos
    {
        margin-left: 50px;
    }

    #segundos h1
    {
        margin-left: 23px;
    }

    #minutos h1
    {
        margin-left: 25px;
    }
}

.kha
{
    display: block;
}

/*Pantallas menos de 601px que ponga la letra en 20px*/
@media screen and (max-width:450px)
{
    .xde
    {
        font-family: 'Milliard Medium';
        text-align: center;
        font-size: 50px;
    }

    #segundos
    {
        margin-left: 0px;
    }

    #segundos h1
    {
        margin-left: 0px;
    }

    #minutos.h1
    {
        margin-left: 0px;
    }

    #time
    {
        font-size: 15px;
    }
}